{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>DatePublished</th>
                <th>Author</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.datePublished ? post.datePublished|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.author.username }}</td>

                    <td>
                        <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                        {% if app.user %}
                        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                        {% endif %}
                    </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}">Create new</a>
{% endblock %}